_site
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_Store
vendor
WINKLER_Marius_CV.aux
WINKLER_Marius_CV.log
WINKLER_Marius_CV.out
WINKLER_Marius_CV.bbl
WINKLER_Marius_CV.blg
WINKLER_Marius_CV.fdb_latexmk
WINKLER_Marius_CV.synctex.gz
WINKLER_Marius_CV.tex
Video_fps=24_DPI=75.mp4
Video_fps=24_DPI=150.mp4
Video_fps=24_DPI=200.mp4
Video_fps=24_DPI=250.mp4
Video_fps=24_DPI=300.mp4
Video_Zoom=8_DPI=300_FIGSIZE=6_FPS=24.mp4