<hr class="footer-rule">

<div class="footer-columns">
  <div class="footer-left">
    <strong>Marius Winkler</strong><br>
    <span class="footer-description">
      Atmospheric physicist, currently engaged as a Postdoc at the Max Planck Institute for Meteorology, Hamburg.
    </span>
  </div>

  <div class="footer-right">
    <ul class="contact-list">
      <li><a href="mailto:marius.winkler@mpimet.mpg.de">marius.winkler@mpimet.mpg.de</a></li>
      <li><a href="https://github.com/mariuswinkler">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/marius-winkler-2828121b4/">LinkedIn</a></li>
      <li><a href="https://scholar.google.com/citations?user=jUrnxisAAAAJ&hl=en">Google Scholar</a></li>
    </ul>
  </div>
</div>
