<hr>

<div class="footer-wrapper">
  <div class="footer-left">
    <strong>Marius Winkler</strong><br>
    Atmospheric physicist, currently engaged as a Postdoc at the Max Planck Institute for Meteorology, Hamburg.
  </div>

  <div class="footer-right">
    <ul class="contact-list">
      <li><a href="mailto:marius.winkler@mpimet.mpg.de">marius.winkler@mpimet.mpg.de</a></li>
      <li><a href="https://github.com/mariuswinkler">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/marius-winkler-2828121b4/">LinkedIn</a></li>
      <li><a href="https://scholar.google.com/citations?user=YOUR_ID_HERE">Google Scholar</a></li>
    </ul>
  </div>
</div>
