// Font families
$serif        : Georgia, Times, serif !default;
$sans-serif   : -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;

$global-font-family  : $sans-serif !default;
$header-font-family  : $sans-serif !default;
$caption-font-family : $sans-serif !default;  // 👈 this is the fix!

// Smaller global scale
$type-size-1: 2.2em !default;  // h1
$type-size-2: 1.8em !default;  // h2
$type-size-3: 1.45em !default; // h3
$type-size-4: 1.15em !default; // h4
$type-size-5: 0.9em !default;  // base body text
$type-size-6: 0.75em !default;
$type-size-7: 0.7em !default;
$type-size-8: 0.6em !default;
