// Smaller global scale
$type-size-1: 2.2em !default;  // instead of 2.441em
$type-size-2: 1.8em !default;
$type-size-3: 1.45em !default;
$type-size-4: 1.15em !default;
$type-size-5: 0.95em !default; // base font (paragraphs)
$type-size-6: 0.75em !default;
$type-size-7: 0.7em !default;
$type-size-8: 0.6em !default;
