---
# Main SCSS file
---

@charset "utf-8";

// 1. Your custom variable overrides
@import "variables";

// 2. Theme (which will now use your overrides)
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

// 3. Typography tweaks or layout
@import "typography";

.content {
  width: 50rem;
  margin: 0 auto;
}

.author__avatar img {
  width: 100% !important;
  height: auto !important;
  border-radius: 50%;
}
