---
# Main SCSS file
---

@charset "utf-8";

// 1. Your custom variable overrides
@import "variables";

// 2. Theme (which will now use your overrides)
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

// 3. Typography tweaks or layout
@import "typography";

.content {
  width: 45rem;
  margin: 0 auto;
}

@media (min-width: 220em) {

  .author__avatar {
    display: table-cell;
    vertical-align: top;
    width: 200px;
    height: 200px;
  
    @include breakpoint($large) {
      display: block;
      width: auto;
      height: auto;
    }
  
    img {
      max-width: 175px;
      border-radius: 50%;
  
      @include breakpoint($large) {
        padding: 5px;
        border: 1px solid $border-color;
      }
    }
  }
  }
