<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

    {%- feed_meta -%}
    {%- seo -%}
  </head>
  <body>
    <header class="site-header" role="banner">
      <div class="wrapper">
        <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title }}</a>
        <nav class="site-nav">
          {% for page in site.header_pages %}
            <a class="page-link" href="{{ page | relative_url }}">{{ page | split: '.' | first | replace: '_', ' ' | capitalize }}</a>
          {% endfor %}
        </nav>
      </div>
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer class="site-footer">
      {% include footer.html %}
    </footer>
  </body>
</html>
